@import "../styles/colors.scss";

body {
  background-color: $secondary-color;
  color: $primary-color;
}

p {
  font-size: 1.5rem;
  color: $primary-color;
}

.game-main-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.game-btns-section {
  display: flex;
  justify-content: space-around;
}

.game-btns-section > button {
  width: 6rem;
  height: 3rem;
}
